body {
  background: #0f172a;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.player {
  background: #1e293b;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 15px;
}

audio {
  width: 100%;
}

/* 🔍 Search */
#search {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  outline: none;
  background: #1e293b;
  color: white;
}

/* 🎵 Song Cards */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  margin: 8px 0;
  padding: 12px;
  border-radius: 12px;
  transition: 0.2s;
}

li:hover {
  background: #334155;
  transform: scale(1.01);
}

/* 🎵 Playing Highlight */
.playing {
  background: #22c55e !important;
  color: black;
}

/* 🎛 Buttons */
button {
  margin-left: 5px;
  background: #22c55e;
  border: none;
  color: black;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #16a34a;
}
